.wrapper {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
  padding: 2rem;
}

.headerWrapper {
  display: flex;
  column-gap: 2rem;
  justify-content: flex-start;
  align-items: stretch;
}

.numberPerPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}

.cartItemsWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
