@import 'styles/variables';

.footer {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: $border;

  & > a > svg {
    height: 40px;
    filter: invert(100);
  }
}

.logo {
  width: 50px;
  border-radius: 10px;
}
