@import 'styles/variables.scss';

.header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border;
}

.logo {
  display: flex;
  align-items: center;

  &Img {
    width: 65px;

    &:hover {
      cursor: pointer;
    }
  }

  &Text {
    margin-left: 20px;
    font-weight: 700;
    font-size: 2.5rem;
    color: $primary-color;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.927);
  }
}

.total {
  font-weight: 600;
  font-size: 1.5rem;
  &Text {
    color: $primary-color;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 0.03em;
  }
  &Price {
    color: $second-color;
  }
}
