.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem;
}
